%div
  .text-center.pt-40.pb-32
    %h1.text-2xl 友達追加
  .border-2.text-center.py-4.ml-auto.mr-auto{:class => 'w-[400px]'}
    = form_with scope: :search_param, url: search_users_path do |f|
      .py-4
        = f.label :email, class: 'inline-block text-left w-[150px]'
        = f.email_field :email, class: 'border'
      .py-4 
        = f.submit '検索', class: 'bg-green-500 text-white px-20 rounded'
    - if @searched_user.present?
      .border.pl-4
        .inline-block.mr-auto{:class => 'w-[320px]'}
          = @searched_user.name
        .inline-block.px-2.text-right.bg-gray-200.rounded
          = link_to '追加', user_friendships_path(user_id: @searched_user.id), method: :post